<div id="<%= dom_id seed %>">
  <p>
    <strong>Species:</strong>
    <%= seed.species %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= seed.generation %>
  </p>

  <p>
    <strong>Accession:</strong>
    <%= seed.accession %>
  </p>
</div>
