<p style="color: green"><%= notice %></p>

<h1>Seeds</h1>

<div id="seeds">
  <% @seeds.each do |seed| %>
    <div style="display: inline-block">
      <%= link_to image_tag("#{seed.species}.png"), seed %>
      <br />
      <%= seed.quantity %>
    </div>
  <% end %>
</div>

<%= link_to "New seed", new_seed_path %>
