<p style="color: green"><%= notice %></p>

<h1>Seeds</h1>

<div id="seeds">
  <% @bins.each do |bin| %>
    <%= render bin %>
    <p>
      <%= link_to "Show this bin", bin %>
    </p>
  <% end %>
</div>

<%= link_to "New seed", new_seed_path %>
