<% id = "tube-#{seedbox.name}-#{position}" %>
<% data_item = "#{seedbox.name} #{position} empty" %>
<%= link_to('', id: id, class: "tube", :'data-item' => data_item) do %>
  <span class="position"><%= position %></span>
<% end %>
