<h1>Editing plant sample</h1>

<%= render "form", plant_sample: @plant_sample %>

<br>

<div>
  <%= link_to "Show this plant sample", @plant_sample %> |
  <%= link_to "Back to plant samples", plant_samples_path %>
</div>
