/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.seedbox_name {
  font-size: larger;
  background-color: brown;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tube_block {
  line-height: 64px;
  font-size: 0;
}

.tube {
  display: inline-block;
  width: calc(100% / 10);
  aspect-ratio: 1/1;
  height: auto;
  position: relative;
  text-align: center;
  border: solid 1px brown;
  box-sizing: border-box;
}

.tube a, .tube a img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  pointer-events: auto;
  width: 100%;
  height: 100%;
}

.tube .active_position {
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 16px;
}

.tube .quantity {
  position: relative;
  display: inline-block;
  pointer-events: none;
  background-color: red;
  color: white;
  padding: 0 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 9px;
  border: solid 1px white;
  vertical-align: bottom;
  margin-bottom: 4px;
}

.tube .position {
  text-align: center;
  color: dimgrey;
  font-size: 30px;
  line-height: 64px;
  vertical-align: bottom;
  display: inline-block;
}