/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.seedbox_name {
  font-size: larger;
  background-color: brown;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.bin {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: relative;
  text-align: center;
}

.bin a {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: auto;
}

.bin .active_location {
  pointer-events: none;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}

.bin .quantity {
  display: inline-block;
  pointer-events: none;
  margin-top: 16px;
  background-color: red;
  border-radius: 9px;
  border: solid 1px white;
  padding: 0 4px;
  line-height: 18px;
  position: relative;
}

.bin .location {
  text-align: center;
  color: dimgrey;
  font-size: 30px;
  line-height: 64px;
  vertical-align: bottom;
  display: inline-block;
}