<div id="<%= dom_id population %>">
  <p>
    <strong>Name:</strong>
    <%= population.population_name %>
  </p>

  <p>
    <strong>Subpopulation:</strong>
    <%= population.subpopulation %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= population.location %>
  </p>

</div>
