<h1>Editing population</h1>

<%= render "form", population: @population %>

<br>

<div>
  <%= link_to "Show this population", @population %> |
  <%= link_to "Back to populations", populations_path %>
</div>
